params {

  samplesheet = 'index.csv'
  outdir = 'results'

  help = false

  skip_porechop = false
  porechop_threads = 4
  porechop_args = ""

  skip_nanofilt = false
  nanofilt_qual_threshold = 10
  nanofilt_min_read_length = 500

  fwd_primer = 'GGTGGTGATTGCCTCTCAAT'
  fwd_primer_rc = 'ATTGAGAGGCAATCACCACC'
  rev_primer = ''
  rev_primer_rc = ''
  race5 = false
  race3 = false

  skip_host_filtering = false
  plant_host_fasta = null
  minimap_threads = 4 


  skip_denovo_assembly = false
  canu = false
  canu_genome_size = '0.01m'
  canu_options = ''

  flye = false
  flye_ont_mode = 'nano-raw'
  flye_options = ''

  skip_clustering = false
  rattle_min_len = 250
  rattle_max_len = 2000

  blast_split_factor = ''
  blast_threads = 4
  blastn_db = null

  
  nanoq = false
  nanoq_code_start = 1
  nanoq_read_length = 500
  nanoq_num_ref = 1
  nanoq_qual_threshhold = 10
  nanoq_jump = 10

  map2ref = false
  blast_vs_ref = false
  reference = "/work/hia_mt18005/diagnostics/2023/ONT/endoRYNV-BS_amplicon.fa"
  infoseq = false

  skip_read_classification = false
  megablast = false
  kaiju = false
  kaiju_threads = 8
  kaiju_nodes = null
  kaiju_dbname = null
  kaiju_names = null
  krkdb = null
  kraken = false

}

process {

  cpus = 1
  memory = 1.GB

  withLabel:small {
    cpus = 1
    memory = 1.GB
  }

  withLabel: medium {
    cpus = 2
    memory = 8.GB
  }

  withLabel: large {
    cpus = 4
    memory = 12.GB
  }

  withLabel: xlarge {
    cpus = 8
    memory = 48.GB
  }

  withLabel: xlarge2 {
    cpus = 4
    memory = 32.GB
  }

  withLabel: process_high {
    cpus = 8
    memory = 72.GB
  }
}

singularity {
  enabled = true
  autoMounts = true
}




manifest {
    name            = 'eresearchqut/ovisp'
    author          = 'eResearch, QUT'
    homePage        = 'https://github.com/eresearchqut/ovisp'
    description     = 'ONT-based Viral Screening of Plants'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    defaultBranch   = 'main'
}
