params {

  samplesheet = 'index.csv'
  outdir = 'results'

  help = false

  amplicon = false

  chopper = false
  chopper_qual_threshold = 10
  chopper_min_read_length = 200
  denovo_assembly = false
  nanofilt = false
  nanofilt_qual_threshold = 10
  nanofilt_min_read_length = 50
  map2ref = false
  cutadapt = false
  fwd_primer = 'GGTGGTGATTGCCTCTCAAT'
  fwd_primer_rc = 'ATTGAGAGGCAATCACCACC'
  rev_primer = 'AAAACCTGAAAGAGCTGGCA'
  rev_primer_rc = 'TGCCAGCTCTTTCAGGTTTT'

  race5 = false
  race3 = false
  
  canu = false
  canu_genome_size = '0.007m'

  flye = false
  flye_read_error = 0.03
  flye_ont_mode = 'nano-hq'

  minimap = false
  minimap_threads = 4 

  nanoq = false
  nanoq_code_start = 1
  nanoq_read_length = 500
  nanoq_num_ref = 1
  nanoq_qual_threshhold = 10
  nanoq_jump = 10

  infoseq = false
  blast_vs_ref = false

  wgs = false
  host_filtering = false
  blast_threads = 4
  plant_host_fasta = "/home/gauthiem/code/micropipe/test_data/Plant_host_sequences11.fasta"
  reference = "/work/hia_mt18005/diagnostics/2023/AMPLICON_NANOPORE/NOVEL_POTEXVIRUS/ontprocessing/AobVX.fasta"
  blastn_db = null
  porechop_threads = 4
  porechop_args = ""
  minimap = false
}

process {

  cpus = 1
  memory = 1.GB

  withLabel:small {
    cpus = 1
    memory = 1.GB
  }

  withLabel: medium {
    cpus = 2
    memory = 2.GB
  }

  withLabel: large {
    cpus = 4
    memory = 12.GB
  }

  withLabel: xlarge {
    cpus = 8
    memory = 48.GB
  }

  withLabel: xlarge2 {
    cpus = 4
    memory = 32.GB
  }
}

singularity {
  enabled = true
  autoMounts = true
}




manifest {
    name            = 'eresearchqut/ovisp'
    author          = 'eResearch, QUT'
    homePage        = 'https://github.com/eresearchqut/ovisp'
    description     = 'ONT-based Viral Screening of Plants'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    defaultBranch   = 'main'
}
