includeConfig 'conf/base.config'

params {

  samplesheet = 'index.csv'
  publish_dir = 'results'
  outdir = 'results'
  merge = false

  help = false

  qc_only = false
  adapter_trimming = false
  porechop_options = ''
  porechop_custom_primers = false

  analysis_mode = ""
  qual_filt = false
  chopper_options = ''

  host_filtering = false
  host_fasta = null
  
  canu = false
  canu_genome_size = '0.01m'
  canu_options = ''
  final_primer_check = false
  fixstart_args = ""

  flye = false
  flye_options = ''
  flye_mode = 'nano-raw'

  clustering = false
  rattle_clustering_options = ''
  rattle_polishing_options = ''

  hybrid = false

  blast_threads = 4
  blastn_db = null
  blast_mode = 'ncbi'

  nanoq = false
  nanoq_code_start = 1
  nanoq_read_length = 500
  nanoq_num_ref = 1
  nanoq_qual_threshhold = 10
  nanoq_jump = 10

  map2ref = false
  blast_vs_ref = false
  reference = null
  infoseq = false

  read_classification = false
  megablast = false
  kaiju = false
  kaiju_threads = 8
  kaiju_nodes = null
  kaiju_dbname = null
  kaiju_names = null
  krkdb = null
  kraken2 = false
}

process {
  withName: BLASTN2REF { container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
    'https://depot.galaxyproject.org/singularity/blast:2.14.1--pl5321h6f7f691_0' :
    'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0' }" }
  withName: BLASTN { container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0' }
  withName: BRACKEN { container = 'quay.io/biocontainers/bracken:2.8--py310h0dbaff4_1' }
  withName: CANU { container = 'quay.io/biocontainers/canu:2.2--ha47f30e_0' }
  withName: CAP3 { container = 'quay.io/biocontainers/cap3:10.2011--h779adbc_3' }
  withName: CHOPPER { container = 'quay.io/biocontainers/chopper:0.5.0--hdcf5f25_2' }
  withName: CONCATENATE_FASTA { container = 'quay.io/biocontainers/seqtk:1.3--h5bf99c6_3' }
  withName: CUTADAPT { container = 'quay.io/biocontainers/cutadapt:4.1--py310h1425a21_1' }
  withName: EXTRACT_READS { container = 'quay.io/biocontainers/seqtk:1.3--h5bf99c6_3' }
  withName: EXTRACT_VIRAL_BLAST_HITS { container = 'docker.io/infrahelpers/python-light:py310-bullseye' }
  withName: EXTRACT_VIRAL_BLAST_SPLIT_HITS { container = 'docker.io/infrahelpers/python-light:py310-bullseye' }
  withName: FLYE { container = 'quay.io/biocontainers/flye:2.9.1--py310h590eda1_0' }
  withName: FASTQ2FASTA { container = 'quay.io/biocontainers/seqtk:1.3--h7132678_4' }
  withName: KAIJU { container = 'quay.io/biocontainers/kaiju:1.8.2--h5b5514e_1' }
  withName: KRAKEN2 { container = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0' }
  withName: KRONA { container = 'quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1' }
  withName: MINIMAP2_ALIGN_RNA { container = 'quay.io/biocontainers/minimap2:2.24--h7132678_1' }
  withName: MINIMAP2_ALIGN_DNA { container = 'quay.io/biocontainers/minimap2:2.24--h7132678_1' }
  withName: MINIMAP2_REF { container = 'quay.io/biocontainers/minimap2:2.24--h7132678_1' }
  withName: NANOPLOT { container = 'quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0' }
  withName: PORECHOP_ABI { container = 'quay.io/biocontainers/porechop_abi:0.5.0--py38he0f268d_2' }
  withName: QCREPORT { container = 'docker.io/infrahelpers/python-light:py310-bullseye' }
  withName: RATTLE { container = 'ghcr.io/eresearchqut/rattle-image:0.0.1' }
  withName: REFORMAT { container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
    'https://depot.galaxyproject.org/singularity/bbmap:39.01--h92535d8_1' :
    'quay.io/biocontainers/bbmap:39.01--h92535d8_1' }" }
  withName: SAMTOOLS { container = 'quay.io/biocontainers/samtools:1.16.1--h6899075_1' }
}


profiles {
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  test {
    includeConfig "conf/test.config"
  }
}

manifest {
    name            = 'eresearchqut/ontvisc'
    author          = 'eResearch, QUT'
    homePage        = 'https://github.com/eresearchqut/ontvisc'
    description     = 'ONT-based Viral Screening for Biosecurity'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    defaultBranch   = 'main'
}
