process {

  cpus = 1
  memory = 1.GB
  time =  1.h 

  withLabel: setting_1 {
    cpus = 1
    memory = 8.GB
  }

  withLabel: setting_2 {
    cpus = 2
    memory = 8.GB
  }

  withLabel: setting_11 {
    cpus = 2
    memory = 16.GB
  }

  withLabel: setting_7 {
    cpus = 2
    memory = 92.GB
    time = 12.h
  }

  withLabel: setting_5 {
    cpus = 2
    memory = 164.GB
  }

  withLabel: setting_3 {
    cpus = 4
    memory = 12.GB
  }

  withLabel: setting_8 {
    cpus = 4
    memory = 32.GB
    time = 6.h
  }

  withLabel: setting_10 {
    cpus = 4
    memory = 96.GB
    time = 3.h
  }

  withLabel: setting_4 {
    cpus = 8
    memory = 72.GB
  }

  withLabel: setting_9 {
    cpus = 8
    memory = 92.GB
    time = 24.h
  }

}
