/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline installed succesfully'

    // Input data
    samplesheet = "${baseDir}/test/test_index.csv"

    blast_vs_ref = true
    analysis_mode = "denovo_assembly"
    reference = "${baseDir}/test/MsMV.fa"
    canu = true
    canu_options = "useGrid=false"
}

process {
  withName: QC_PRE_DATA_PROCESSING {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: REFORMAT {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: FLYE {
    cpus = 2
    memory = 16.GB
    time =  1.h
  }

  withName: BLASTN2REF {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

}
