/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test2,<docker/singularity>
----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline installed succesfully'

    // Input data
    samplesheet = "${baseDir}/test/test2_index.csv"

    blast_vs_ref = true
    analysis_mode = "denovo_assembly"
    reference = "${baseDir}/test/MsMV.fa"
    flye = true
}

process {
  withName: QC_PRE_DATA_PROCESSING {
    container = 'docker://quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0'
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: REFORMAT {
    container = 'docker://quay.io/biocontainers/bbmap:39.01--h92535d8_1'
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: FLYE {
    container = 'docker://quay.io/biocontainers/flye:2.9.1--py310h590eda1_0'
    cpus = 2
    memory = 16.GB
    time =  1.h
  }

  withName: BLASTN2REF {
    container = 'docker://quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0'
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

}
